{% extends "AppCasa/plantilla_base.html" %}

{% block style_block %}
<style>
  table.coder-table {
    border:3px solid;
  }
  th,
  td {
    border:1px solid;
    padding:5px 10px;
  }
</style>
{% endblock style_block %}

{% block contenido_base %}

<h1>Profesores</h1>
<a href="{% url 'profesores_formulario' %}">Agregar un profesor</a>


<br><br>
<h3>Profesores actuales:</h3>

<table border="2">

    <tr>
      <td>
        <b>Nombre</b>
      </td>
      <td>
        <b>Apellido</b>
      </td>
      <td>
        <b>Materia</b>
      </td>
      <td>
        <b>Casa</b>
      </td>
    </tr>
    {% for profesor in profesores %}
    <tr>
      <td>{{profesor.nombre}}</td>
      <td>{{profesor.apellido}}</td>
      <td>{{profesor.apellido}}</td>
      <td>{{profesor.casa}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock contenido_base %}